# https://withjoy.atlassian.net/wiki/spaces/KNOW/pages/1870430239/Artifactory
registry=https://registry.npmjs.org
always-auth=true

# https://withjoy.atlassian.net/wiki/spaces/KNOW/pages/1815806077/Care+Feeding+of+npm-shrinkwrap.json
format-package-lock=true
package-lock=true
package-lock-only=false
shrinkwrap=true
engine-strict=true
save=true
